.sider {
   background-color: $main-bg-black;

   .ant-menu-item {
      .ant-menu-title-content {
         min-width: 0;
         overflow: hidden;

         a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #fff;
         }
      }
   }
}

.logo {
   font-size: 2rem;
   text-align: center;
   padding: 10px;
}
.menu {
   background-color: $main-bg-black;

   .ant-menu-item {
      transition: none !important;

      &:active {
         background: transparent !important;
      }
      &-selected {
         background-color: $main-bg-black;
      }
   }
}
.login {
   text-align: center;
   background-color: inherit;
   margin: 20px;

   .ant-btn-text:active {
      background-color: inherit;
   }
}
.logout {
   text-align: center;  
   background-color: inherit;
   margin: 20px;

   .ant-btn-text:active {
      background-color: inherit;
   }
}

@media (max-width: 767px) {
   .logo {
      font-size: 1.5rem;
   }
}

@media (max-width: 400px) {
   .logo {
      font-size: 1.25rem;
   }
}