.sider {
   background-color: $main-bg-black;
}
.logo {
   font-size: 2rem;
   text-align: center;
   padding: 10px;
}
.menu {
   background-color: $main-bg-black;

   :global {
      .ant-menu-item {
         transition: none !important;

         &:active {
            background: transparent !important;
         }
         &-selected {
            background-color: $main-bg-black;
         }
      }
   }
}
.login {
   text-align: center;
   background-color: inherit;
   margin: 20px;

   :global {
      .ant-btn-text:active {
         background-color: inherit;
      }
   }
}
.logout {
   text-align: center;  
   background-color: inherit;
   margin: 20px;

   :global {
      .ant-btn-text:active {
         background-color: inherit;
      }
   }
}