$main-text-white: #ffffff;
$extra-text-gray: #b0b0b0;

$main-bg-black: #0f111a;
$content-bg-blue: #28264b;

$button-bg-black: #0f111a;

$form-tag-text: #6c63ff;
$black-text: #000;

$card-text-black: #000;