.form {
   &Item {
      color: $main-text-white;

      .span {
         color: $black-text;
      }
      :global {
         .ant-form-item-label label {
            color: inherit;
         }
         .ant-select-selection-search-input {
            color: $black-text !important;
         }
         .ant-select-selection-item {
            color: $black-text !important;
         }
      }
   }
}