.activityContainer {
   width: 100%;
}
.calendarMobile {
   overflow-y: auto;
}
.weekLabel {
   color: $week-label;
   height: 22.5px;
}

@media (max-width: 991px) {
   .calendarMobile {
      max-width: 170px;   
   }
}

@media (min-width: 992px) {
   .cellsContainer {
      justify-content: space-between;
      width: 100%;
      max-width: 850px;
   }
}