.card {
   &Detail {
      color: $card-text-black;
   }
   &Title p {
      color: $card-text-black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .ant-card-body {
      padding: 15px 24px 0;
   }
}
.markButton {
   p, span {
      color: $mark-completed-button;
   }
}
.spaceExtra {
   p {
      font-size: 0.75rem;
   }
   .completed {
      color: $completed-status;
   }
   .delButton span, .delButton p {
      color: $button-delete-red; 
   }
}
code {
   span {
      display: block;
      counter-increment: line;
      position: relative;
      color: $textarea-code-color;
      padding-left: 35px;

      &::before {
         content: counter(line);
         position: absolute;
         left: 0;
         width: 20px;
         text-align: right;
         color: $textarea-number-color;
      }
   }
}
.badge {
   margin-bottom: 10px;
}

@media (max-width: 1023px) {
   .markButton p, .delButton p {
      display: none;
   }
}

@media (max-width: 767px) {
   .editableRow {
      &:has([data-editing='true']) {
         flex-direction: column;
      }
   }
}