.form {
   min-width: 474px;
   width: fit-content;

   &Item {
      color: $main-text-white;
      max-width: 550px;

      :global {
         .ant-form-item-label label {
            color: inherit;
         }
      }
   }
}
.mainContainer {
   background-color: $container-bg;
   border: 1px solid $container-bg;
   border-radius: 16px;
   padding: 12px;
   width: fit-content;
   min-width: 500px;
}