.timeline {
   color: $main-text-white;
}
.segmentedContainer {
   width: fit-content;

   :global {
      .ant-segmented-item {
         color: $black-text;
      }
   }
}
.mainContainer button {
   width: fit-content;
}