.container {
   .xp {
      &Plus {
         color: $add-xp;
      }
      &Minus {
         color: $lose-xp;
      }
   }

   .health {
      &Plus {
         color: $add-health;
      }
      &Minus {
         color: $remove-health;
      }
   }
}  
